{erl_opts, [debug_info]}.
{deps, [
  % {epgsql, {git, "https://github.com/epgsql/epgsql.git", {branch, "master"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [ephone_book]}
]}.

{relx, [{release, {ephone_book, "0.1.0"},
          [
            ephone_book,
            sasl
          ]
        },

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [
        {dev_mode, false},
        {include_erts, true},
        {include_src, false}
      ]
    }
  ]},
  {dev, [
    {deps, [
        {sync, ".*",
			    {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
      ]
    }
  ]}
]}.
